html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/wooden.jpg);
    /* background-color:burlywood; */
}

body > ul {
    list-style: none;
    padding-left: 10px;
}

.projects-list > li {
    flex-basis: 50%;
    margin-bottom: 50px;  
    font-size: 1.5rem;
}

.projects-list > li > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.handle {
    text-align: center;
    color:darkviolet;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-item {
    display: flex;
    align-items: center;
    text-decoration: none;
}
